@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: "FFFFF0";
}

@font-face {
    font-family: 'melodrama';
    src: url('../../public/fonts/Melodrama-Medium.woff');
}

@font-face {
    font-family: 'nunito';
    src: url('../../public/fonts/Nunito-Regular.woff');
}

#hero {
    background-image: url('../../public/assets/hero.png');
    background-position: center center;
    background-size:cover ;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    #hero {
        background-image: url('../../public/assets/hero-mobile.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}